/* Imported 2 fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Primary color */
:root{
    --primary: #4e47ff;
}
/* Reset styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared styles */
.container{
    width: min(1140px, calc(100% - 20px));
    margin: 0 auto;
}
.inter{
    font-family: "Inter", sans-serif;
}
.raleway{
    font-family: "Raleway", sans-serif;
}
.text-center{
    text-align: center;
}
.text-dark{
    color: #252432;
}
.btn{
    display: inline-block;
    background-color: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
    border-radius: 10px;
    font-weight: 700;
    padding: 15px 20px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    transition: .5s;
    &:hover{
        background-color: transparent;
        color: var(--primary);
    }
}
.section-title{
    font-size: 48px;
}
.section-text{
    margin: 20px 0;
    color: rgba(37, 36, 50, 0.5);
}
/* Styling body tag */
body{
    background-color: #f5f8ff;
}
/* Header section */
header{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    & nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        & .logo{
            color: var(--primary);
            font-weight: 900;
            font-size: 34px;
        }
    }
    & .hero{
        padding: 50px 20px;
        & .hero-title{
            width: 900px;
            font-size: 60px;
            margin: 0 auto 20px;
        }
    }
}
section{
    margin: 50px 0;
    &.action-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .action-left{
            & p{
                font-size: 24px;
            }
        }
        & .action-right img{
            border-radius: 42px;
        }
    }
    &.productive-user{
        background-color: rgba(78, 71, 255, 0.1);
        padding: 28px 32px;
        border-radius: 20px;
        & h2{
            margin-bottom: 30px;
            font-size: 38px;
        }
        & .user-stats{
            display: flex;
            justify-content: space-around;
            & h3{
                color: var(--primary);
                font-size: 80px;
            }
            & p{
                color: rgba(37, 36, 50, 0.5);
                font-size: 20px;
            }
        }
    }
    &.review .cards{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        & .card{
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            border: 2px solid #f2eded;
            & .rating{
                margin-bottom: 20px;
                color: #ffb805;
            }
            & .review-title{
                margin-bottom: 10px;
            }
            & .review-text{
                margin-bottom: 20px;
            }
            & .reviewer{
                display: flex;
                align-items: center;
                gap: 10px;
                & img{
                    border-radius: 50%;
                }
                & h4{
                    color: #757575;
                }
                & p{
                    color: #b3b3b3;
                }
            }
        }
    }
}